<div mat-dialog-title>
    <h1>Contrato</h1>
</div>
<form [formGroup]="formContrato" (ngSubmit)="onSubContrato()">
    <div mat-dialog-content>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Nombre Contrato</mat-label>
                <input matInput type="text" placeholder="Nombre Contrato" formControlName="contrato" required>

            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Autor</mat-label>
                <input matInput type="text" placeholder="Nombre Autor" formControlName="autor" required>

            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Contenido</mat-label>
                <input matInput type="text" placeholder="Ingresa el contenido" formControlName="contenido" required>
            </mat-form-field>
        </div>

    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update':'Save'}}</button>
    </div>
</form>






